/* GLOBAL ========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0px; margin: 0px;

    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    font: inherit;

    vertical-align: baseline;
}


/* SECTIONS ========================= */

/* render `main` element consistently in IE */

main {
    display: block;
}

/* standardize margins for `p` elements across browsers */

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* TEXT-LEVEL SEMANTICS ========================= */

/* remove gray bg on active links in IE 10 */

a {
    background-color: transparent;
}


/* EMBEDDED CONTENT ========================= */

/* remove border on images inside links in IE 10 */

img {
    border-style: none;
}


/* FORMS ========================= */

/* 1. change font styles in all browsers */
/* 2. remove margin in Firefox and Safari */

input {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/* show overflow in IE, Edge */

input {
    overflow: visible;
}

/* 1. correct off appearance in Chrome, Safari */
/* 2. correct outline style in Safari */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/* remove inner padding in Chrome, Safari on macOS */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}