/* -------------- */
/* GLOBAL STYLING */
/* -------------- */

:root {
    --ui-rad: 30px;
    --icn-gap: 0.5em;
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/Roboto-Light.ttf);
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* ------------- */
/* MIXED STYLING */
/* ------------- */

header img,
.dash-title img {
    height: 5em; width: auto;
}

#expand,
#collapse {
    height: 1.5em; width: auto;
}

.linkdrop img,
nav img,
#expand,
#collapse {
    filter: invert(1);
}

/* ------------------- */
/* BASE DEVICE STYLING */
/* ------------------- */

/* CONTAINER -------------------- */
.container {
    --container-padding: 1vh;
    padding: var(--container-padding);
}

.container-item {
    padding: 10px;
}

/* HEADER1 -------------------- */
.header1 {
    grid-area: header1;
    background-color: #3E1BBC;
    border-radius: var(--ui-rad);
}

.header1 header {
    display: grid;
    grid-template: auto / 1fr 1fr;
}

.profile-icon,
.linkdrop,
.greeting {
    display: flex;
}

.profile-icon img {
    border: 1px solid white;
    border-radius: 50%;
}

.linkdrop {
    justify-content: flex-end;
}

.greeting {
    display: none;
    color: white;
}

/* HEADER2 -------------------- */
.header2 {
    background-color: lightblue;
    grid-area: header2;

    display: grid;
    grid-template: auto / 1fr 1fr;
}

.proj-manage {
    display: flex;
    justify-content: flex-end;
    gap: var(--icn-gap);
}

.search {
    display: flex;
    gap: var(--icn-gap);
}

#searchbar {
    width: auto;
    flex-grow: 1;
}

/* NAV -------------------- */
.nav {
    grid-area: nav;
    background-color: #3E1BBC;
    color: white;
    border-radius: 0px 0px var(--ui-rad) var(--ui-rad);
}

.dash-title {
    display: none;
    padding-bottom: 2em;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: space-evenly;
    padding: 0em 2em 0em 2em;
}

ul.nav1  {
    display: grid;
    grid-template: auto / repeat(6, 1fr);
    justify-items: center;
}

ul.nav2 {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    justify-items: center;
}

nav li {
    display: flex;
    gap: 1em;
    padding: 0em var(--icn-gap) 0em var(--icn-gap);
}

nav img {
    height: 1em; width: auto;
}

nav span {
    display: none;
}

.spacer {
    display: flex;
    width: auto;
    flex-grow: 1;
}

.exp-coll {
    display: none;
}

/* PRIMARY CONTENT -------------------- */
.primary-content {
    background-color: lightgreen;
    grid-area: primary-content;

    display: grid;
    grid-template: auto 1fr / auto;
}

.proj-cards {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
}

.card {
    max-width: 1fr; height: 16em;
}

/* SECONDARY CONTENT -------------------- */
.secondary-content {
    background-color: plum;
    grid-area: secondary-content;

    display: grid;
    grid-template: auto 1fr / auto;
}

/* FOOTER -------------------- */
.footer {
    background-color: peachpuff;
    grid-area: footer;
}

/* -------------- */
/* DEVICE STYLING */
/* -------------- */

/* MOBILE -------------------- */
@media only screen and (max-width: 550px) {
    /* GRID LAYOUT -------------------- */
    .container {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 'header1'
                             'nav'
                             'header2'
                             'secondary-content'
                             'primary-content'
                             'footer';
        gap: 10px;
    }

    /* SECONARY CONTENT -------------------- */
    .secondary-content {
        grid-template: auto / 1fr 1fr;
    }
}

/* TABLET -------------------- */
@media only screen and (min-width: 551px) and (max-width: 1100px) {
    /* GRID LAYOUT -------------------- */
    :root {
        --header1-height: 2fr;
        --header2-height: 1fr;
        --nav-height: 1fr;
        --content-height: 6fr;
        --footer-height: 1fr;

        --primary-width: 7fr;
        --secondary-width: 3fr;
    }

    .container {
        display: grid;
        grid-template-rows: var(--header1-height) var(--nav-height) var(--header2-height) var(--content-height) / var(--primary-width) var(--secondary-width);
        grid-template-columns: var(--primary-width) var(--secondary-width);
        grid-template-areas: 'header1            header1'
                             'nav                nav'
                             'header2            header2'
                             'primary-content    secondary-content'
                             'footer             footer';
        gap: 10px;
    }
}

/* DESKTOP -------------------- */
@media only screen and (min-width: 1101px) {
    /* GRID LAYOUT -------------------- */
    :root {
        --header1-height: 2fr;
        --header2-height: 1fr;
        --content-height: 7fr;
        --footer-height: 1fr;

        --nav-width: 25%;
        --primary-width: 7fr;
        --secondary-width: 3fr;
    }

    .container {
        display: grid;
        grid-template-rows: var(--header1-height) var(--header2-height) var(--content-height);
        grid-template-columns: var(--nav-width) var(--primary-width) var(--secondary-width);
        grid-template-areas: 'nav       header1            header1'
                             'nav       header2            header2'
                             'nav       primary-content    secondary-content'
                             '.         footer              footer';
        gap: 10px;
    }

    /* SHOW/HIDE -------------------- */
    .nav h1,
    .exp-coll,
    nav span,
    .greeting {
        display: contents;
    }

    .linkdrop {
        display: none;
    }

    /* HEADERS -------------------- */

    .header1 {
        background-color: transparent;
        border-radius: 0px;
    }

    .header1 header {
        grid-template-areas: 'greeting    profile-icon';
    }

    .greeting {
        grid-area: greeting;
        color: black;
    }

    .profile-icon {
        grid-area: profile-icon;
        justify-content: flex-end;
    }

    .profile-icon img {
        border: 1px solid black;
        border-radius: 50%;
    }

    /* NAVIGATION -------------------- */
    .nav {
        display: grid;
        grid-template: auto auto 1fr/ auto;

        position: sticky;
        top: var(--container-padding); left: var(--container-padding);
        height: calc(100vh - calc(2 * var(--container-padding)));

        border-radius: var(--ui-rad);
    }

    .dash-title {
        display: contents;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        flex-flow: column;
    }

    nav ul {
        flex-flow: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    ul.nav1  {
        display: grid;
        grid-template: repeat(6, 1fr) / auto;
        justify-items: flex-start;
    }

    ul.nav2 {
        display: grid;
        grid-template: repeat(3, 1fr) / auto;
        justify-items: flex-start;
    }

    nav li {
        padding: var(--icn-gap) 0em var(--icn-gap) 0em;
    }

    .exp-coll{
        display: flex;
        align-content: flex-start;
        justify-content: center;
    }
}