.nav {
    background-color: pink;
}

.header {
    background-color: lightblue;
}

.primary-content {
    background-color: lightgreen;
}

.secondary-content {
    background-color: plum;
}

.footer {
    background-color: peachpuff;
}