/* -------------- */
/* GLOBAL STYLING */
/* -------------- */

@font-face {
    font-family: 'Roboto';
    src: url(./assets/Roboto-Light.ttf);
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* CONTAINER -------------------- */
.container {
    --container-padding: 1vh;
    padding: var(--container-padding);
}

.container-item {
    padding: 10px;
}

/* HEADERS -------------------- */
.header1 {
    background-color: lightblue;
    grid-area: header1;
}

.header2 {
    background-color: lightblue;
    grid-area: header2;
}

/* NAV -------------------- */
.nav {
    background-color: pink;
    grid-area: nav;
}

.nav h1 {
    display: none;
}

.nav ul {
    display: grid;
    grid-template: repeat(10, 1fr) / auto;
}

.nav ul {
    display: grid;
    grid-template: auto / repeat(10, 1fr);
}

/* EXPANDER -------------------- */
.expand {
    background-color: pink;
    display: none;
}

/* PRIMARY CONTENT -------------------- */
.primary-content {
    background-color: lightgreen;
    grid-area: primary-content;
}

/* SECONDARY CONTENT -------------------- */
.secondary-content {
    background-color: plum;
    grid-area: secondary-content;
}

/* -------------- */
/* DEVICE STYLING */
/* -------------- */

/* MOBILE -------------------- */
@media only screen and (max-width: 550px) {
    /* GRID LAYOUT -------------------- */
    .container {
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 'header1'
                             'nav'
                             'header2'
                             'secondary-content'
                             'primary-content';
        gap: 10px;
    }
}

/* TABLET -------------------- */
@media only screen and (min-width: 551px) and (max-width: 1100px) {
    /* GRID LAYOUT -------------------- */
    :root {
        --header1-height: 2fr;
        --header2-height: 1fr;
        --nav-height: 1fr;
        --content-height: 6fr;

        --primary-width: 7fr;
        --secondary-width: 3fr;
    }

    .container {
        display: grid;
        grid-template-rows: var(--header1-height) var(--nav-height) var(--header2-height) var(--content-height) / var(--primary-width) var(--secondary-width);
        grid-template-columns: var(--primary-width) var(--secondary-width);
        grid-template-areas: 'header1            header1'
                             'nav                nav'
                             'header2            header2'
                             'primary-content    secondary-content';
        gap: 10px;
    }
}

/* DESKTOP -------------------- */
@media only screen and (min-width: 1101px) {
    /* GRID LAYOUT -------------------- */
    :root {
        --header1-height: 2fr;
        --header2-height: 1fr;
        --content-height: 7fr;

        --nav-width: 25%;
        --primary-width: 7fr;
        --secondary-width: 3fr;
    }

    .container {
        display: grid;
        grid-template-rows: var(--header1-height) var(--header2-height) var(--content-height);
        grid-template-columns: var(--nav-width) var(--primary-width) var(--secondary-width);
        grid-template-areas: 'nav    header1            header1'
                             'nav    header2            header2'
                             'nav    primary-content    secondary-content';
        gap: 10px;
    }

    /* SHOW -------------------- */
    .nav h1,
    .expand {
        display: contents;
    }

    /* NAVIGATION -------------------- */
    .nav {
        display: grid;
        grid-template: auto auto 1fr/ auto;
    }

    .nav ul {
        display: grid;
        grid-template: repeat(10, 1fr) / auto;
    }

    .expand{
        display: flex;
        align-content: flex-start;
        justify-content: center;
    }
}